<header>
  <div class="container-header container">
    <a href="./index.html" class="header-logo link">
      <img src="/img/logo.jpg" alt="Picture of logo" width="44" height="39" />
    </a>
    <nav class="header-navigation-list d-md-block">
      <ul class="header-nav-list">
        <li>
          <a href="#about-us" class="header-nav-link link current">ABOUT US </a>
        </li>
        <li>
          <a href="#our-collection" class="header-nav-link link"
            >OUR COLLECTION</a
          >
        </li>
        <li>
          <a href="#customer-order" class="header-nav-link link"
            >CUSTOMER ORDER</a
          >
        </li>
        <li>
          <a href="#testimonials" class="header-nav-link link">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <a class="phone-link link" href="tel:+380684439426"
        >+380 (68) 443-94-26
      </a>
    </address>
    <ul class="header-social-list list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-header-link link"
        >
          <svg class="social-header-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goITclub/"
          class="social-header-link link"
        >
          <svg class="social-header-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/goITclub/"
          class="social-header-link link"
        >
          <svg class="social-header-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="mobile-open-menu-btn">
      <svg
        class="open-mobile-menu-icon"
        width="24"
        height="24"
        aria-label="mobile-menu-open-icon"
      >
        <use href="./img/sprite.svg#icon-nav"></use>
      </svg>
    </button>
  </div>
</header>
