<section class="our-collection section">
  <div class="container our-collection-container">
    <h2 id="our-collection" class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list list">
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/august.jpg 335w,
                     ./img/our-collection-img/august@2x.jpg 770w,
                     ./img/our-collection-img/august768px.jpg 342w,
                     ./img/our-collection-img/august768px@2x.jpg 684w,
                     ./img/our-collection-img/august1280px.jpg 347w,
                     ./img/our-collection-img/august1280px@2x.jpg 694w,
                     ./img/our-collection-img/august1440px.jpg 400w,
                     ./img/our-collection-img/august1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="./img/our-collection-img/august.jpg" alt="AUGUST Poltava women's blousering">
        <p class="our-collection-products">AUGUST Poltava women's blouseRING</p>
        <p class="our-collection-price">3300 UAH</p>
      </li>
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/gorgany.jpg 335w,
                     ./img/our-collection-img/gorgany@2x.jpg 770w,
                     ./img/our-collection-img/gorgany768px.jpg 342w,
                     ./img/our-collection-img/gorgany768px@2x.jpg 684w,
                     ./img/our-collection-img/gorgany1280px.jpg 347w,
                     ./img/our-collection-img/gorgany1280px@2x.jpg 694w,
                     ./img/our-collection-img/gorgany1440px.jpg 400w,
                     ./img/our-collection-img/gorgany1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="../img/our-collection-img/gorgany.jpg" alt="Women's blouse Gorgany">
        <p class="our-collection-products">Women's blouse Gorgany</p>
        <p class="our-collection-price">3350 UAH</p>
      </li>
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/mountain.jpg 335w,
                     ./img/our-collection-img/mountain@2x.jpg 770w,
                     ./img/our-collection-img/mountain768px.jpg 342w,
                     ./img/our-collection-img/mountain768px@2x.jpg 684w,
                     ./img/our-collection-img/mountain1280px.jpg 347w,
                     ./img/our-collection-img/mountain1280px@2x.jpg 694w,
                     ./img/our-collection-img/mountain1440px.jpg 400w,
                     ./img/our-collection-img/mountain1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="./img/our-collection-img/mountain.jpg" alt="Mountain men's shirt">
        <p class="our-collection-products">Mountain men's shirt</p>
        <p class="our-collection-price">3300 UAH</p>
      </li>
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/yasen.jpg 335w,
                     ./img/our-collection-img/yasen@2x.jpg 770w,
                     ./img/our-collection-img/yasen768px.jpg 342w,
                     ./img/our-collection-img/yasen768px@2x.jpg 684w,
                     ./img/our-collection-img/yasen1280px.jpg 347w,
                     ./img/our-collection-img/yasen1280px@2x.jpg 694w,
                     ./img/our-collection-img/yasen1440px.jpg 400w,
                     ./img/our-collection-img/yasen1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="./img/our-collection-img/yasen.jpg" alt="Men's shirt Yasen">
        <p class="our-collection-products">Men's shirt Yasen</p>
        <p class="our-collection-price">1700 UAH</p>
      </li>
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/crimea.jpg 335w,
                     ./img/our-collection-img/crimea@2x.jpg 770w,
                     ./img/our-collection-img/crimea768px.jpg 342w,
                     ./img/our-collection-img/crimea768px@2x.jpg 684w,
                     ./img/our-collection-img/crimea1280px.jpg 347w,
                     ./img/our-collection-img/crimea1280px@2x.jpg 694w,
                     ./img/our-collection-img/crimea1440px.jpg 400w,
                     ./img/our-collection-img/crimea1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="./img/our-collection-img/crimea.jpg" alt="Women's blouse Crimea">
        <p class="our-collection-products">Women's blouse Crimea</p>
        <p class="our-collection-price">4000 UAH</p>
      </li>
      <li class="our-collection-list-item">
        <img srcset="./img/our-collection-img/verkhovina.jpg 335w,
                     ./img/our-collection-img/verkhovina@2x.jpg 770w,
                     ./img/our-collection-img/verkhovina768px.jpg 342w,
                     ./img/our-collection-img/verkhovina768px@2x.jpg 684w,
                     ./img/our-collection-img/verkhovina1280px.jpg 347w,
                     ./img/our-collection-img/verkhovina1280px@2x.jpg 694w,
                     ./img/our-collection-img/verkhovina1440px.jpg 400w,
                     ./img/our-collection-img/verkhovina1440px@2x.jpg 800w"
             sizes='(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px'
             src="./img/our-collection-img/verkhovina.jpg" alt="Men's shirt Verkhovina">
        <p class="our-collection-products">Men's shirt Verkhovina</p>
        <p class="our-collection-price">3100 UAH</p>
      </li>
    </ul>
  </div>
    <picture class='model-of-collection'>
      <source media="(min-width: 1440px)" srcset="./img/our-collection-img/bg-our-collection1440px.jpg 1x, ./img/our-collection-img/bg-our-collection1440px@2x.jpg 2x">
      <source media="(min-width: 1280px)" srcset="./img/our-collection-img/bg-our-collection1280px.jpg 1x, ./img/our-collection-img/bg-our-collection1280px@2x.jpg 2x">
      <source media="(min-width: 768px)" srcset="./img/our-collection-img/bg-our-collection768px.jpg 1x, ./img/our-collection-img/bg-our-collection768px@2x.jpg 2x">
      <source media="(max-width: 767px)" srcset="./img/our-collection-img/bg-our-collection375px.jpg 1x, ./img/our-collection-img/bg-our-collection375px@2x.jpg 2x">
      <img src="./img/our-collection-img/bg-our-collection375px.jpg" alt="The model">
    </picture>
</section>