
<section class="our-collection section">
  <div class="container">
    <h2 class="header-of-section">Our collection</h2>
    <ul class="our-collection-list list">
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/august.jpg 1x, ../img/our-collection-img/august@2x.jpg 2x"
                                                  src="../img/our-collection-img/august.jpg" alt="AUGUST Poltava women's blousering" width="335">
        <p class="our-collection-products">AUGUST Poltava women's blouseRING</p>
        <p class="our-collection-price">3300 UAH</p>
      </li>
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/gorgany.jpg 1x, ../img/our-collection-img/gorgany@2x.jpg 2x"
                                                  src="../img/our-collection-img/gorgany.jpg" alt="Women's blouse Gorgany" width="335">
        <p class="our-collection-products">Women's blouse Gorgany</p>
        <p class="our-collection-price">3350 UAH</p>
      </li>
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/mountain.jpg 1x, ../img/our-collection-img/mountain@2x.jpg 2x"
                                                  src="../img/our-collection-img/mountain.jpg" alt="Mountain men's shirt" width="335">
        <p class="our-collection-products">Mountain men's shirt</p>
        <p class="our-collection-price">3300 UAH</p>
      </li>
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/yasen.jpg 1x, ../img/our-collection-img/yasen@2x.jpg 2x"
                                                  src="../img/our-collection-img/yasen.jpg" alt="Men's shirt Yasen" width="335">
        <p class="our-collection-products">Men's shirt Yasen</p>
        <p class="our-collection-price">1700 UAH</p>
      </li>
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/crimea.jpg 1x, ../img/our-collection-img/crimea@2x.jpg 2x"
                                                  src="../img/our-collection-img/crimea.jpg" alt="Women's blouse Crimea" width="335">
        <p class="our-collection-products">Women's blouse Crimea</p>
        <p class="our-collection-price">4000 UAH</p>
      </li>
      <li class="our-collection-list-item">  <img srcset="../img/our-collection-img/verkhovina.jpg 1x, ../img/our-collection-img/verkhovina@2x.jpg 2x"
                                                  src="../img/our-collection-img/verkhovina.jpg" alt="Men's shirt Verkhovina" width="">
        <p class="our-collection-products">Men's shirt Verkhovina</p>
        <p class="our-collection-price">3100 UAH</p>
      </li>
    </ul>
  </div>
    <picture class='model-of-collection'>
      <source media="(min-width: 1440px)" srcset="../img/our-collection-img/bg-our-collection1440px.jpg 1x, ../img/our-collection-img/bg-our-collection1440px@2x.jpg 2x">
      <source media="(min-width: 1280px)" srcset="../img/our-collection-img/bg-our-collection1280px.jpg 1x, ../img/our-collection-img/bg-our-collection1280px@2x.jpg 2x">
      <source media="(min-width: 768px)" srcset="../img/our-collection-img/bg-our-collection768px.jpg 1x, ../img/our-collection-img/bg-our-collection768px@2x.jpg 2x">
      <source media="(max-width: 767px)" srcset="../img/our-collection-img/bg-our-collection375px.jpg 1x, ../img/our-collection-img/bg-our-collection375px@2x.jpg 2x">
      <img src="../img/our-collection-img/bg-our-collection375px.jpg" alt="The model">
    </picture>
</section>