<section class="section-your-order" id="customer-order">
  <div class="your-order-container your-order-background container">
    <div class="your-order-inputs">
      <div class="container-your-order-h2">
        <h2 class="your-order-h2">
          <span class="span-your-order-h2">Your order</span> is our priority:
          Personalized approach and quality of service
        </h2>
      </div>
      <form class="your-order-form">
        <label class="label-inputs-1">
          <input
            class="section-your-order-inputs-1 input-text input-content"
            type="text"
            name="text-name"
            placeholder="Enter your full name"
          />
        </label>
        <label class="label-inputs-1">
          <input
            class="section-your-order-inputs-1 input-text input-content"
            type="email"
            name="subscribe-email"
            placeholder="Enter your email"
          />
        </label>
        <label class="label-inputs-2">
          <textarea
            class="section-your-order-inputs-2 input-2 input-text input-content"
            name="Comements"
            id="comments"
            placeholder="Comements"
            cols="30"
            rows="10"
          ></textarea>
        </label>
      </form>
      <div class="button-container">
        <button class="your-order-button" type="submit">
          Send
          <svg class="your-order-svg" width="26" height="10">
            <use href="./img/sprite.svg#icon-pointer"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="container-image-your-order">
      <img
        class="your-order-img"
        srcset="
          ./img/your-order/rectangle-desktop.jpg     524w,
          ./img/your-order/rectangle-desktop@2x.jpg 1048w,
          ./img/your-order/rectangle-tablet.jpg      638w,
          ./img/your-order/rectangle-tablet@2x.jpg  1276w
        "
        sizes="(min-width: 1280px) 524px ,(min-width: 768px) 638px"
        src="./img/your-order/rectangle-desktop.jpg"
        alt=""
        width="524"
        height="521"
      />
    </div>
  </div>
</section>
