
.about-us-name {
color: #FCF9F9;
font-size: 44px;
font-weight: 500;
line-height: 1.45;
letter-spacing: -0.03em;
margin-bottom: 40px;
}
.about-us-text-first,
.about-us-text-second {
color: rgba(252, 249, 249, 0.40);
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
width: 335px;
}
.about-us-text-first {
    margin-bottom: 20px;
}
.about-us-img {
    margin-top: 50px;
}
.about-us-img {
    border-radius: 4px;
}
.about-us-section {  

background-repeat: no-repeat;
background-size: 458px 408px;
background-image: url(/img/about-us/elements-mobile.png);
background-position: right bottom;

}

@media screen and (min-resolution: 192dpi) {
    .about-us-img {
        background-image: url(/img/about-us/elements@2x-mobile.png);   
    }
}

@media screen and (min-width: 768px) {
    
    .about-us-section-menu {
 margin-bottom: 40px;
    }
    .about-us-name {
   color: #FCF9F9;
   font-size: 44px;
  font-weight: 500;
 line-height: 1.45;
 letter-spacing: -0.03em;
    margin-bottom: 40px;
    }  
   .about-us-text-first,
   .about-us-text-second {
color: rgba(252, 249, 249, 0.40);
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
width: 704px;
}
.about-us-container {
   max-width: 768px;
   background-size: 544px 484px;
background-image: url(/img/about-us/elements-desktop.png);
}

}

@media screen and (min-width: 1280px) {
.about-us-container {
    display: flex;
} 
  .about-us-section-menu {
  margin-right: 50px;
  margin-bottom: unset;
    }
.about-us-name {
    text-align: left;
}
.about-us-text-first,
.about-us-text-second {
    width: 436px;
    flex-direction: column;
    text-align: left;
}
.about-us-img {
    max-width: 1280px;
    background-size: 544px 483px;
 background-image: url(/img/about-us/elements-desktop.png);
 }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px), 
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width:1280px) {
    .about-us-img {
        background-image: url(/img/about-us/elements@2x-desktop.png);   
    }
  }
  @media screen and (min-width: 1440px) {
.about-us-text-first,
.about-us-text-second {
    width: 481px;
  }
  }
  