@media screen and (min-width: 375px) {

    .footer-section {
        width: 375px;
        height: 649px;
        border-top: 1px solid rgba(252, 249, 249, 0.10);
        background-color: black;
        background-image: url(/images/footer-logo/footer-logo-mobile.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 452px 171px;
    }

    .footer-menu {
        list-style-type: none;
        padding-top: 40px;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
    }

    .footer-item {
        color: #FCF9F9;
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28;
        text-transform: uppercase;
        text-decoration: none;
    }

    .footer-main-text {
        width: 335px;
        color: #FCF9F9;
        font-family: 'Manrope', sans-serif;
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.23;
        letter-spacing: -0.03em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .footer-main-text-span {
        color: #ECD979;

    }

}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution:2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .footer-section {
        background-image: url(/images/footer-logo/footer-logo-mobile@2x.png);
    }
}

@media screen and (max-width: 767px) {
    .footer-list-item {
        width: calc((100% - 40px) / 2);
    }
}

@media screen and (min-width: 768px) {

    .footer-section {
        width: 768px;
        height: 370px;
        background-image: url(/images/footer-logo/footer-logo-tablet.png);
        background-position: right;
        background-size: 155px 400px;
    }


    .footer-menu {
        padding-left: 32px;
        flex-wrap: nowrap;
        display: inline-flex;
        align-items: flex-start;
        row-gap: 0;
        gap: 25px;
    }


    .footer-main-text {
        width: 521px;
        font-size: 54px;
        line-height: 1.19;
        letter-spacing: -0.02em;
        margin-left: 32px;
        margin-bottom: 40px;
    }

}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution:2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .footer-section {
        background-image: url(/images/footer-logo/footer-logo-tablet@2x.png);
    }
}

@media screen and (min-width: 1280px) {

    .footer-section {
        width: 1280px;
        height: 363px;
        background-image: url(/images/footer-logo/footer-logo-desktop-1280.png);
        background-position: right bottom;
        background-size: 334px 360px;
    }


    .footer-menu {
        padding-left: 100px;
        padding-right: 702px;
    }

    .footer-main-text {
        width: 754px;
        font-size: 64px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        margin-left: 100px;
        margin-bottom: 40px;

    }

}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution:2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
    .footer-section {
        background-image: url(/images/footer-logo/footer-logo-desktop-1280@2x.png);
    }
}

@media screen and (min-width: 1440px) {

    .footer-section {
        width: 1440px;
        background-image: url(/images/footer-logo/footer-logo-desktop-1440.png);
        background-size: 464px 363px;
    }

}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution:2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .footer-section {
        background-image: url(/images/footer-logo/footer-logo-desktop-1440@2x.png);
    }
}