.our-collection-title{
  color: #FCF9F9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37; /* 137.5% */
  letter-spacing: -0.03em;
  text-align: center;
}
.our-collection-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.our-collection-list-item img{
  border-radius: 4px;
}
.our-collection-products{
  overflow: hidden;
  color:  #FCF9F9;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 8px;
}
.our-collection-price{
  color: rgba(252, 249, 249, 0.40);
  font-size: 14px;
  font-weight: 400;
  line-height: 1; /* 100% */
  letter-spacing: 0.02em;
}
.model-of-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 374px){
  .our-collection .container{
    background-image: url("./img/our-collection-img/ornament-our-collection375px.png");
    max-width: 375px;
    background-position-y: 9.8%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 374px),
screen and (min-resolution: 2dppx) and (max-width: 374px),
screen and (min-device-pixel-ratio: 2) and (max-width: 374px) {
  .our-collection .container {
    background-image: url("./img/our-collection-img/ornament-our-collection375px@2x.png");
  }
}
@media screen and (min-width: 375px) and (max-width: 767px){
  .our-collection{
    margin-top: 18px;
    margin-bottom: 80px;
  }
  .our-collection .container{
    background-image: url("./img/our-collection-img/ornament-our-collection375px.png");
    max-width: 375px;
    background-position-y: 298px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .our-collection .container {
    background-image: url("./img/our-collection-img/ornament-our-collection375px@2x.png");
    background-size: 72px 177px;
  }
}

/*@media screen and (max-width: 768px) {*/
/*  .our-collection-container{*/
/*    position: relative;*/
/*  }*/
/*  .our-collection-container::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 298px;*/
/*    left: 0;*/
/*    width: 72px;*/
/*    height: 177px;*/
/*    background-image: url("../img/our-collection-img/ornament-our-collection375px.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    z-index: -1;*/
/*  }*/

/*  @media screen and (min-resolution: 192dpi),*/
/*  screen and (min-resolution: 2dppx),*/
/*  screen and (min-device-pixel-ratio: 2) {*/
/*    .our-collection .container::after {*/
/*      background-image: url("../img/our-collection-img/ornament-our-collection375px@2x.png");*/
/*    }*/
/*  }*/
/*}*/

@media screen and (min-width: 768px) and (max-width: 1279px){
  .our-collection{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  /*.our-collection-container{*/
  /*  position: relative;*/
  /*}*/
  /*.our-collection-container::after {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  top: 200px;*/
  /*  left: 0;*/
  /*  width: 114px;*/
  /*  height: 300px;*/
  /*  background-image: url("../img/our-collection-img/ornament-our-collection768px.png");*/
  /*  background-repeat: no-repeat;*/
  /*  background-size: cover;*/
  /*  z-index: -1;*/
  /*}*/

  /*@media screen and (min-resolution: 192dpi),*/
  /*screen and (min-resolution: 2dppx),*/
  /*screen and (min-device-pixel-ratio: 2) {*/
  /*  .our-collection .container::after {*/
  /*    background-image: url("../img/our-collection-img/ornament-our-collection768px@2x.png");*/
  /*  }*/
  /*}*/

  .our-collection .container{
    background-image: url("./img/our-collection-img/ornament-our-collection768px.png");
    background-position-y: 200px;
    background-repeat: no-repeat;
  }

  .our-collection-list{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .our-collection-list-item{
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px) {
  .our-collection .container {
    background-image: url("./img/our-collection-img/ornament-our-collection768px@2x.png");
    background-size: auto 300px;
  }
}

@media screen and (min-width: 1280px) {

  /*.our-collection{*/
  /*  position: relative;*/
  /*}*/
  /*.our-collection-container::after {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  top: 210px;*/
  /*  left: 0;*/
  /*  width: 169px;*/
  /*  height: 300px;*/
  /*  background-image: url("../img/our-collection-img/ornament-our-collection1280px.png");*/
  /*  background-repeat: no-repeat;*/
  /*  background-size: cover;*/
  /*  z-index: -1;*/
  /*}*/

  /*@media screen and (min-resolution: 192dpi),*/
  /*screen and (min-resolution: 2dppx),*/
  /*screen and (min-device-pixel-ratio: 2) {*/
  /*  .our-collection .container::after {*/
  /*    background-image: url("../img/our-collection-img/ornament-our-collection1280px@2x.png");*/
  /*  }*/
  /*}*/

  .our-collection{
    background-image: url("./img/our-collection-img/ornament-our-collection1280px.png");
    background-position-y: 200px;
    background-repeat: no-repeat;
    max-width: 1280px;
    margin: 70px auto 150px auto;
  }

  .our-collection-list{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 150px;
    row-gap: 40px;
  }
  .our-collection-list-item{
    width: calc((100% - 40px) / 3);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .our-collection {
    background-image: url('/img/our-collection-img/ornament-our-collection1280px@2x.png');
    background-size: auto 300px;
  }
  .our-collection .container{
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1440px){
  .our-collection{
    background-position-y: 210px;
    max-width: 1440px;
  }
}