.your-order-h2 {
  width: 542px;
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1.32px;
}

.span-your-order-h2 {
  color: var(--white, #ecd979);
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; /* 131.818% */
  letter-spacing: -1.32px;
}

.your-order-img {
  width: 524px;
  height: 521px;
  flex-shrink: 0;
  border-radius: 4px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.your-order-form {
  display: flex;
  width: 508px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.your-order-form {
  display: flex;
  width: 508px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.label-inputs-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.section-your-order-inputs-1 {
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.label-inputs-2 {
  display: flex;
  height: 196px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.section-your-order-inputs-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.input-2 {
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.input-text {
  flex: 1 0 0;
  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.input-content {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.button-container {
  display: flex;
  width: 168px;
  padding: 14px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.your-order-button {
  color: var(--white, #fcf9f9);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}
